* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    width: 100%;
    background-image: url(ijpg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main {
    width: 100%;
    background-image: url(ijpg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar {
    /* background-color:#ff7200;  */
    background-color:black; 
}

.navbar-brand {
    color: #ff7200;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link::after {
    
    content: '';
    width: 0;
    height: 2px;
    background: #ff7200;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar-nav .nav-link:hover::after {
    width: 100% ;
}

.container {
    padding-top: 50px;
    
}
.content{
    font-size: 20px;
    
}
h1{
    font-size: 25px;
    color: #ff7200;
    font-weight: bold;
}
form{
    background-color: black;
    background:black;
    padding-left: -50px;
}
footer {
    background-color: #ff7200;
    color: black;
    text-align: center;
    padding: 100px 0;
    position: relative;
    width: 100%;
    bottom: 0;
  }
 
